.jumbotron {
    background-image: url("../images/trainBG.gif");
    width: 100%;
    background-position: center;
    background-size: 100%;
    margin-top: 10px;
}



#display-3 {
    font-family: 'Abril Fatface', cursive;
    color: white; 
    text-align: center;
    font-size: 110px;  
    letter-spacing: 1px;
}
.trains {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#lead {
    color: white;
    text-align: center;
    letter-spacing: 2.5px;
}

#trainSchedule {
    color: rgb(124, 124, 124);
    margin-left: 100px;

}
th {
    color: red;
    border-right: 50px solid white;
    border-left: 50px solid white;
}

td {
    border-right: 50px solid white;
    border-left: 50px solid white;
    

}

#inputForm {
    margin: 5%;
    border: 1px solid clear;
}

#trainNameInput, #destinationInput, #frequencyInput, #timeInput, #minutesInput {
    width: 800px;
    border:none;
    border-bottom:1px solid #884343;  
}

.row {
    padding-left: 100px;
}

.submitBTN {
    font-family: 'Abril Fatface', cursive;
    /* background-color: rgb(236, 124, 48); */
    color: white;
    background-image: url("../images/trainBG.gif");
    width: 100%;
    height: 50px;
    background-position: center;
    background-size: 100%;
}

label {
    color: rgb(124, 124, 124);
    margin-top: 10px;
}